.container {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-container {
  text-align: center;
}

.color-input {
  text-align: center;
  font-size: 18 px;
  padding: 15px;
  width: 200px;
}

.result {
  margin-top: 10 px;
  color: white;
  background-color: #34495e;
  padding: 1px;
  border: 1px solid transparent;
  background-color: black;
  opacity: 0.3;
  }

.error {
  color: white;
  background-color: brown;
  padding: 10px;
 }

.success {
  color: white;
  background-color: #34495e;
  padding: 10px;
  border: 1px solid transparent
 }